.example-full-width {
    width: 100%;
  }
  
  .custom-file-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Ajuste o espaçamento inferior conforme necessário */
  }
  
  /* Adicione outros estilos conforme necessário */
  