
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
           O Melhor Blog <br />
            <span style="color: hsl(218, 81%, 75%)">para suas postagens</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
         Bem-vindo ao Blog-Desafio - O Seu Espaço de Compartilhamento!<br><br>
         No Blog-Desafio, acreditamos no poder das vozes individuais e na força da comunidade. Este não é apenas um blog; é um espaço dinâmico onde você não apenas consome conteúdo, mas também contribui para moldar a narrativa.
         </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form  [formGroup]="cadastroForm">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="login" formControlName="login">
                    <label for="login">Username</label>
                </div>
  
                <!-- Email input -->
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
                    <label for="email">Email</label>
                </div>
  
                <!-- Password input -->
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                    <label for="password">Password</label>
                </div>
  
                <div class="text-center"> <!-- Adicione a classe text-center aqui -->
                    <button type="submit" class="btn btn-primary btn-block mb-4 mt-3" 
                    [disabled]="this.cadastroForm.invalid"
                    (click)="cadastrar()">
                      Sign up
                    </button>
                       <!-- Frase e link para ir para a tela de login com função JavaScript -->
                <p>Já possui uma conta? <a href="javascript:void(0);" (click)="irParaLogin()">Ir para o login</a></p>
                </div>
             
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  